#editor, #editor-rich-text{
    max-width:750px;
    margin:auto;
}

.ace-editor-wrapper, .cm-editor-wrapper.rich-text{
    max-width:750px;
    margin:auto;
}

.ace_scrollbar, .ace_scrollbar-v {
    display:none;
}